@import "./root.scss";

.FixedBanner {
	width: 100%;
	height: 20rem;
	background-image: url("http://www.kitchendogue.com/data/skin/responsive_food_wellbeing_gl/images/design_resp/full_bg33.jpg");
	background-attachment: fixed;
	background-size: cover;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__content {
		letter-spacing: -2px;
		font-size: 3.5rem;

		&--fst {
			font-weight: 500;
			color: white;
		}

		&--sec {
			padding: 0.5rem 1rem;
			background-color: white;
			font-weight: 300;
			color: green;
		}

		&--bold {
			font-weight: 700;
		}

		@media screen and (max-width: $large) {
			& {
				font-size: 2.5rem;
			}
		}
	}
}
