@import "root.scss";

.Goods {
	width: 100%;
	padding: 1rem 3rem;

	&__banner {
		display: block;
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
	}

	@media screen and (max-width: $large) {
		& {
			padding: 1rem;
		}
	}
}
