@import "./root.scss";

.Navbar {
	display: grid;
	grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
	justify-items: center;
	align-items: center;
	position: relative;
	padding: 0 3rem;
	font-size: 0.9rem;
	font-weight: 700;
	color: #444;
	letter-spacing: -0.05rem;

	&__logo {
		grid-column: 3;
	}

	&__icon {
		font-weight: 900;
		font-size: 1.2rem;
		cursor: pointer;

		&--burger {
			grid-column: 1;
			margin-right: 1rem;
		}

		&--search {
			grid-column: 5;
		}
	}

	&__menu-list,
	&__util-list {
		display: flex;
	}

	&__menu-item,
	&__util-item {
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}

	@media screen and (max-width: $large) {
		& {
			padding: 2rem 0 0 0;
		}

		&__logo {
			max-height: 2rem;
		}

		&__menu-list {
			justify-content: center;
			position: absolute;
			bottom: -1.5rem;
			width: 100%;
		}

		&__util-list {
			display: none;
		}
	}
}
