@import "root.scss";

.ProductItem {
	margin: 0 auto;
	word-spacing: -2px;
	letter-spacing: -1px;

	&__image {
		width: 100%;
		object-fit: cover;
	}

	&__name {
		padding: 0.5rem 0;
		font-size: 0.9rem;
	}

	&__desc {
		padding-bottom: 0.5rem;
		font-size: 0.8rem;
		font-weight: 600;
		color: gray;
	}

	&__price {
		font-weight: 600;
	}

	&__unit {
		font-size: 0.8rem;
		font-weight: 400;
	}

	&--list {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: 0.5rem 1rem;
		align-items: start;

		.ProductItem__content {
			padding-top: 1rem;
		}

		@media screen and (max-width: $small) {
			border-bottom: 1px solid rgba(128, 128, 128, 0.253);
		}
	}
}
