@import "root.scss";

.ProductList {
	display: grid;
	margin: 0 auto;

	&--lattice {
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0.5rem 0.5rem;
		justify-items: start;
		padding: 1.5rem 0;

		@media screen and (max-width: $large) {
			& {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		@media screen and (max-width: $small) {
			& {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	&--list {
		grid-template-columns: repeat(2, 1fr);

		@media screen and (max-width: $small) {
			& {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}
